<nav class="navbar navbar-expand-lg navbar-dark" id="nav1">
  <div class="container-fluid" id="nav_width1">

    <a class="navbar-brand" routerLink="/"> <i class="fas fa-dumbbell"></i></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <!-- 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="right-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.co.kr/" target="_blanck"><i class="bi bi-google"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/" target="_blanck"><i class="bi bi-youtube"></i> </a>
        </li>
        <li *ngIf="checkLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/profile"><i class="bi bi-person-lines-fill"></i> 내정보 </a>
        </li> -->
      <!-- <li *ngIf="checkLoggedIn()" class="nav-item">
          <a class="nav-link" (click)="onLogoutClick()"><i class="bi bi-door-open-fill"></i>  로그아웃 </a>
        </li> -->
      <!-- </ul> -->

    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg" id="nav2">
  <div class="container-fluid" id="nav_width2">
      <div *ngIf="checkLoggedIn()" class="nav-item2" id="left-item">
        <a class="nav-link" routerLink="/profile"><i class="bi bi-people-fill"></i> 친구들 </a>
      </div>
      <div *ngIf="checkLoggedIn()" class="nav-item2">
        <a class="nav-link" routerLink="/dashboard"><i class="bi bi-calendar3"></i> 스케쥴링 </a>
      </div>
      <div *ngIf="checkLoggedIn()" class="nav-item2">
        <a class="nav-link" routerLink="/list"><i class="bi bi-geo-alt-fill"></i> 헬스장 </a>
      </div>
      <div *ngIf="checkLoggedIn()" class="nav-item2" id="right-item">
        <a class="nav-link" routerLink="/card"><i class="bi bi-credit-card-2-back-fill"></i> 운동Shop </a>
      </div>

  </div>
</nav> -->